.a-spot-container{
    // border: red solid;
    height: 500px; //temporary height 
    width: 100%;
    padding-top: 30px;
    .a-spot-img-and-slider-container{
        border: blue solid;
        height: 100%;
        display: flex;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .a-spot-slider-container{
            border: red solid;
            width: 120px;
            min-width: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 0 30px 0;
            .title-container{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                #img-title{
                    margin: 0 0 0 0;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                }
            
            }
            .up-arrow-container{
                display: flex;
                justify-content: center;
                #right-button{
                    transform: rotate(-90deg);
                }
                
            }
            .down-arrow-container{
                display: flex;
                justify-content: center;
                #left-button{
                    transform: rotate(90deg);
                }
            }
        }
    }
}