@import '../../css/splide.min.css';

#acordeon-wrapper{
    border: black solid;
    display: flex;
    height: calc(100vh - 60px);
    border-top: 0;
    border-bottom: 0;
    margin-top: 30px;
    
    .single-tab{
        border: rgb(0, 0, 0) solid;
        width: 8rem;
        background-size: cover;
        .title-container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            cursor: pointer;
            .tab-title{
                margin: 0 0 0 0;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
        }
    }
    .active{
        width: 100%;
        padding: 2rem;
        h1{
            margin: 0 0 0 0;
        }
    }
    .content-container{
        width: 100%;
        border: blue solid;
    }
    
    .programs-title{
        font-size:5em;
        color:white;
    }
    .programs-summary{
        font-size:2em;
        color: white;
    }
}

#video-div{
    
    max-width: 49em;
}

.splide__slide{
    display: flex;
    justify-content: center;
}

.splide__arrow--next{
    right:0;
}